.container {
    margin: 0;
}

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--line);
    background-color: #fff;
    z-index: 1000;

    @media only screen and (max-width: $bp-small) {
        position: fixed;
        width: 100vw;  
    }
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}